{% extends "base.html" %}
{% load render_partial %}

{% block body %}
{% include "includes/loader.html" %}
{% render_partial "home.views.header_menu_view" %}
{% render_partial "info_module.views.intro_view" %}
{% render_partial "services_module.views.services_view" %}
{% render_partial "showcase_module.views.workcase_view" %}
{% render_partial "experience_module.views.work_experience_view" %}
{% comment %} {% render_partial "article_module.views.articles_view" %} {% endcomment %}

{% render_partial "popup.views.consult_popup_view" %} #TODO popup
{% endblock %}