<!DOCTYPE html>
<html lang="zxx">
<head>
  {% include "includes/head.html" %}
</head>
<body class="menu-layer">

<link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
{% include "includes/loader.html" %}
{% include "includes/header_menu.html" %}
<section class="hero-section-two">
	{% include "includes/intro.html" with info=info %}
</section>
<section class="services two gap">
	{% include "includes/services.html" %}
</section>
<section class="my-project hom3 two gap no-top">
	<div class="container">
		<div class="hading" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
			<img alt="dots" src="static/img/dots.png">
			<p>Collection of my project</p>
			<h2>Work Showcase</h2>
		</div>
			<div class="row">
					<div class="col-lg-6 col-md-6" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
						<div class="portfolio-detail">
							<div class="portfolio-img hover06">
								<figure>
										<img alt="profile img" src="https://via.placeholder.com/586x387">
								</figure>
								  <a class="magic-hover magic-hover__square" href="portfolio-details-1.html">Doerner Investigations</a>
								  <p>Website Design, Branding</p>
							</div>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">	
						<div class="portfolio-detail">
							<div class="portfolio-img hover06">
								<figure>
										<img alt="profile img" src="https://via.placeholder.com/586x387">
								</figure>
								  <a class="magic-hover magic-hover__square" href="portfolio-details-1.html">Creative Studio</a>
								  <p>Website Design, Branding</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6" data-aos="fade-up"  data-aos-delay="500" data-aos-duration="600">	
						<div class="portfolio-detail">
							<div class="portfolio-img hover06">
								<figure>
										<img alt="profile img" src="https://via.placeholder.com/366x261">
								</figure>
								  <a class="magic-hover magic-hover__square" href="portfolio-details-1.html">Web Mockup</a>
								  <p>Studio, Branding</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6" data-aos="fade-up"  data-aos-delay="600" data-aos-duration="700">	
						<div class="portfolio-detail">
							<div class="portfolio-img hover06">
								<figure>
										<img alt="profile img" src="https://via.placeholder.com/366x261">
								</figure>
								  <a class="magic-hover magic-hover__square" href="portfolio-details-1.html">Illustrator Design</a>
								  <p>Website Design, Branding</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">	
						<div class="portfolio-detail">
							<div class="portfolio-img hover06">
								<figure>
										<img alt="profile img" src="https://via.placeholder.com/366x261">
								</figure>
								  <a class="magic-hover magic-hover__square" href="portfolio-details-1.html">Vector Art</a>
								  <p>Website Design, Branding</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">	
						<div class="portfolio-detail">
							<div class="portfolio-img hover06">
								<figure>
										<img alt="profile img" src="https://via.placeholder.com/586x387">
								</figure>
								  <a class="magic-hover magic-hover__square" href="portfolio-details-1.html">Branding Identity</a>
								  <p>Website Design, Branding</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6" data-aos="fade-up"  data-aos-delay="400" data-aos-duration="500">	
						<div class="portfolio-detail">
							<div class="portfolio-img hover06">
								<figure>
										<img alt="profile img" src="https://via.placeholder.com/586x387">
								</figure>
								  <a class="magic-hover magic-hover__square" href="portfolio-details-1.html">App UX UI Design</a>
								  <p>Website Design, Branding</p>
							</div>
						</div>
					</div>
			</div>
		<div class="load-button" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
					<a href="#" class="magic-hover magic-hover__square button button--moema button--text-thick button--text-upper button--size-s"><i class="fa-solid fa-spinner"></i> Load More</a>
				</div>
	  </div>	
</section>
<section class="creative-together gap no-top" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300"> 
	<div class="container">
		<div class="gap contact-info-home-two" style="background-image: url(https://via.placeholder.com/1290x530)">
			<h2>Let's Create Something
					Creative Together</h2>
			<p>We can't wait to hear from making something beautiful and new! </p>
			<a href="javascript:void(0)" class="lightbox-toggle  magic-hover magic-hover__square button download  button--moema button--text-thick button--text-upper button--size-s"><i class="fa-solid fa-download"></i>Start Consulting</a>
		</div>
	</div>
</section>
<section class="work-experience-two gap" style="background-image: url(./static/img/blur-1.png)">
	<div class="container">
		<div class="hading" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
			<p>Professional Experience</p>
			<h2>Work Experience</h2>
		</div>
			<div class="row present-data-home-page owl-carousel owl-theme" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">
				<div class="col-lg-12 item">
					<div class="to-present">
						<span>2018 to Present</span>
						<h6>Graphic Designer</h6>
						<div class="envato-studio">
							<h4>Envato Studio</h4>
							<p>Lorem ipsum indolor st amet, cmetc ur
								locing elit, sedi dinm indolo  sum ind ol
								m indolor st amet, cmetcilmes.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-12 item">
					<div class="to-present">
						<span>2016 to 2018</span>
						<h6>Graphic Designer</h6>
						<div class="envato-studio">
							<h4>Envato Studio</h4>
							<p>Lorem ipsum indolor st amet, cmetc ur
								locing elit, sedi dinm indolo  sum ind ol
								m indolor st amet, cmetcilmes.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-12 item">
					<div class="to-present">
						<span>2014 to 2016</span>
						<h6>Graphic Designer</h6>
						<div class="envato-studio">
							<h4>Envato Studio</h4>
							<p>Lorem ipsum indolor st amet, cmetc ur
								locing elit, sedi dinm indolo  sum ind ol
								m indolor st amet, cmetcilmes.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-12 item">
					<div class="to-present">
						<span>2014 to 2016</span>
						<h6>Graphic Designer</h6>
						<div class="envato-studio">
							<h4>Envato Studio</h4>
							<p>Lorem ipsum indolor st amet, cmetc ur
								locing elit, sedi dinm indolo  sum ind ol
								m indolor st amet, cmetcilmes.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<section class="gap no-bottom" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
	<div class="container">
		<div class="hading">
			<p>News & Blog</p>
			<h2>Recent Articles</h2>
		</div>
	  <div class="zoom-slider owl-carousel">
	    <div class="item zoom-slider-img">
	    	<img src="https://via.placeholder.com/649x395" alt="img">
	    	<div class="zoom-slider-data">
	    		<<span>December 5, 2023</span><div class="dodgap"></div><span>  John Smith</span>
		    		<h5><a class="magic-hover magic-hover__square" href="blog-details-2.html">Interview Photographer Mark 
								Seliger Agency</a></h5>
	    	</div>
	    </div>
	    <div class="item zoom-slider-img">
	    	<img src="https://via.placeholder.com/649x395" alt="img">
	    	<div class="zoom-slider-data">
	    		<<span>December 5, 2023</span><div class="dodgap"></div><span>  John Smith</span>
		    		<h5><a class="magic-hover magic-hover__square" href="blog-details-2.html">Interview Photographer Mark 
						Seliger Agency</a></h5>
	    	</div>
	    </div>
	       <div class="item zoom-slider-img">
		    	<img src="https://via.placeholder.com/649x395" alt="img">
		    	<div class="zoom-slider-data">
		    		<<span>December 5, 2023</span><div class="dodgap"></div><span>  John Smith</span>
			    	<h5><a class="magic-hover magic-hover__square" href="blog-details-2.html">Interview Photographer Mark 
						Seliger Agency</a></h5>
		    	</div>
	       </div>
		   <div class="item zoom-slider-img">
		    	<img src="https://via.placeholder.com/649x395" alt="img">
		    	<div class="zoom-slider-data">
		    		<<span>December 5, 2023</span><div class="dodgap"></div><span>  John Smith</span>
			    		<h5><a class="magic-hover magic-hover__square" href="blog-details-2.html">Interview Photographer Mark 
							Seliger Agency</a></h5>
		    	</div>
		   </div>
		   <div class="item zoom-slider-img">
		    	<img src="https://via.placeholder.com/649x395" alt="img">
		    	<div class="zoom-slider-data">
		    		<span>December 5, 2023</span><div class="dodgap"></div><span>  John Smith</span>
			    		<h5><a class="magic-hover magic-hover__square" href="blog-details-2.html">Interview Photographer Mark 
							Seliger Agency</a></h5>
		    	</div>
		   </div>
		   <div class="item zoom-slider-img">
		    	<img src="https://via.placeholder.com/649x395" alt="img">
		    	<div class="zoom-slider-data">
		    		<span>December 5, 2023</span><div class="dodgap"></div><span>  John Smith</span>
			    		<h5><a class="magic-hover magic-hover__square" href="blog-details-2.html">Interview Photographer Mark 
									Seliger Agency</a></h5>
		    	</div>
		  </div>
	  </div>
	</div>
</section>
<section class="pricing-plans gap no-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
				<div class="hading">
					<p>Work Packages</p>
					<h2>Pricing Plans</h2>
					<h6>Lorem ipm dolor amet, cons magm maiores Ipsa 
						dolor sitmagnam maores. Lorem ipm dolor amet, 
						cons magm maiores Ipsa dolor sitma.</h6>
				</div>
			</div>
			<div class="offset-xl-1 col-xl-7 ">
				<div class="row">
					<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">
						<div class="pricing-plans-tabla">
							<div class="basic-package" style="background-image: url(./static/img/home-2.jpg)">
								<h5>Basic Package</h5>
								<h3>$350 <span>/ month</span></h3>
							</div>
							<div class="rocket">
								<span class="icon-rocket"></span>
								<ul>
									<li><i class="fa-solid fa-check"></i>Website Design</li>
									<li><i class="fa-solid fa-check"></i>Graphic Designing</li>
									<li><i class="fa-solid fa-check"></i>Web Development</li>
									<li><i class="fa-solid fa-check"></i>Business Consulting</li>
								</ul>
								<a href="#" class="magic-hover magic-hover__square button download  button--moema button--text-thick button--text-upper button--size-s">Select Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="400" data-aos-duration="500">
						<div class="pricing-plans-tabla">
							<div class="basic-package" style="background-image: url(./static/img/home-2.jpg)">
								<h5>Premium Package</h5>
								<h3>$650 <span>/ month</span></h3>
							</div>
							<div class="rocket">
								<span class="icon-rocket"></span>
								<ul>
									<li><i class="fa-solid fa-check"></i>Website Design</li>
									<li><i class="fa-solid fa-check"></i>Graphic Designing</li>
									<li><i class="fa-solid fa-check"></i>Web Development</li>
									<li><i class="fa-solid fa-check"></i>Business Consulting</li>
								</ul>
								<a href="#" class="magic-hover magic-hover__square button download  button--moema button--text-thick button--text-upper button--size-s">Select Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="clients-data">
	<div class="container">
		<div class="row client-logo owl-carousel owl-theme" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
			<div class="col-lg-3 item">
				<div class="clients-color">
					<img alt="clients" src="https://via.placeholder.com/278x128">
				</div>
			</div>
			<div class="col-lg-3 item">
				<div class="clients-color">
					<img alt="clients" src="https://via.placeholder.com/278x128">
				</div>
			</div>
			<div class="col-lg-3 item">
				<div class="clients-color">
					<img alt="clients" src="https://via.placeholder.com/278x128">
				</div>
			</div>
			<div class="col-lg-3 item">
				<div class="clients-color">
					<img alt="clients" src="https://via.placeholder.com/278x128">
				</div>
			</div>
			<div class="col-lg-3 item">
				<div class="clients-color">
					<img alt="clients" src="https://via.placeholder.com/278x128">
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="gap" style="background-image: url(./static/img/footer.png)">
	<div class="container">
		<div class="footer-data">
			<img alt="log" src="static/img/orix-logo.png">
			<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris Morbi accumsan ipsuy
					a odio tincdunt ilmauctor Class aptent taciti sociosqu ads Etiam.</p>
					<ul class="social-media-footer">
						<li><a class="magic-hover magic-hover__square" href="#"><i class="fa-brands fa-facebook-f fb"></i>Facebook</a></li>
						<li><a class="magic-hover magic-hover__square" href="#"><i class="fa-brands fa-twitter tw"></i>Twitter</a></li>
						<li><a class="magic-hover magic-hover__square" href="#"><i class="fa-brands fa-vimeo-v vi"></i>Vimeo</a></li>
						<li><a class="magic-hover magic-hover__square" href="#"><i class="fa-brands fa-linkedin-in in"></i>Linked In</a></li>
					</ul>
					<h6>© 2022 CV Resume<i class="fa-solid fa-heart"></i>By Winsfolio, All Rights Reserved</h6>
		</div>
	</div>
</footer> 
<!-- popup -->
<div class="backdrop"></div>
	<div class="box">
		<div class="flex-img">
		  <img alt="popup-img" src="https://via.placeholder.com/291x530">
		  <div class="your-name">
					<h5>Have Question?</h5>
						<form class="one">
							<input type="text" name="YourName" placeholder="Your Name *">
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12">
									<input type="text" name="Email" placeholder="Your Email *">
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12">
									<input type="text" name="Phone" placeholder="Phone No *">
								</div>
							</div>
							<select class="nice-select Advice">
								  <option>Select Topic</option>
								  <option>Select Topic 1</option>
								  <option>Select Topic 2</option>
								  <option>Select Topic 3</option>
							</select>
							<textarea>Your Message *</textarea>
							<button class="button button--moema button--text-thick button--text-upper button--size-s">Send Message</button>
						</form>
					</div>
					<div class="close"><i class="fa-solid fa-xmark"></i></div>
		</div>
	</div>
<!-- popup end -->
<!-- bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<!-- jQuery -->
	<script src="static/js/jquery-3.6.0.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
	<!-- owl.carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/perfect-scrollbar.min.js"></script>
	<script src="static/js/jquery.nice-select.min.js"></script>
	<!-- cursor -->
	<script src="static/js/cursor.js"></script>
	<!-- isotope -->
	<script src="static/js/isotope.js"></script>
	<script src="static/js/slick.min.js"></script>
	<script src="static/js/isotope-init-home-1.js"></script>
	<script src="static/js/aos.js"></script>
	<!-- custom -->
	<script src="static/js/custom.js"></script>

</body>