{% extends "base.html" %}
{% load static %}
{% block body %}
<section id="particles-js" class="blog-detail pattern error-page gap" >
	<div class="container">
		<div class="error" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
			<div class="error-img">
			<h2>4</h2>
			<img alt="404" src="{% static 'img/404.png' %}">
			<h2>4</h2>
			</div>
			<h3>Ooops, Page Not Found</h3>
			<p>We Can't Seem to find the page you're looking for.</p>	
		</div>
	</div>
</section>
{% endblock body %}