{% load render_partial %}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Pooya Danadeh</title>
    {% include "head.html" %}
</head>
<body class="menu-layer">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    {% include "loader.html" %}
    {% render_partial "home.views.header_menu_view" %}
    {% block body %}{% endblock body %}
    {% render_partial 'info_module.views.footer_view' %}
    {% include 'bootstap_refrences.html' %}
</body>
</html>