{% load static %}

<footer class="gap" style="background-image: url({% static 'img/footer.png' %})">
    <div class="container">
        <div class="footer-data">
            {% comment %} <img alt="log" src="static/img/orix-logo.png"> {% endcomment %}
            <p>Other ways you can contact & follow me on social medias</p>
                    <ul class="social-media-footer">
                        <li><a class="magic-hover magic-hover__square" href={{info.facebook}}><i class="fa-brands fa-facebook-f fb"></i>Facebook</a></li>
                        <li><a class="magic-hover magic-hover__square" href={{info.twitter}}><i class="fa-brands fa-twitter tw"></i>Twitter</a></li>
                        <li><a class="magic-hover magic-hover__square" href={{info.instagram}}><i class="fa-brands fa-instagram vi"></i>Instagram</a></li>
                        <li><a class="magic-hover magic-hover__square" href={{info.linked_in}}><i class="fa-brands fa-linkedin-in in"></i>Linked In</a></li>
                    </ul>
                    <h6>© 2022 CV Resume<i class="fa-solid fa-heart"></i>By Winsfolio, All Rights Reserved</h6>
        </div>
    </div>
</footer> 