{% load static %}

<header class="two for" id="stickyHeader">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-2">
         <div class="logo-icon">
          <a class="magic-hover magic-hover__square" href="index.html">
            <img class="light" src="{% static 'img/orix-logo.png' %}" alt="logo" />
            <img class="drak" src="{% static 'img/black-logo.png' %}" alt="logo" />
          </a>
          <a
            href="javascript:void(0)"
            class="bar-menu magic-hover magic-hover__square"
            ><i class="fa-solid fa-bars"></i
          ></a>
        </div> 
      </div>
      <div class="col-xl-7">
        <div class="menu-bar">
          <nav>
            <ul>
              <li >
                <a class="magic-hover magic-hover__square" href="{% url 'home' %}">Home</a>
              </li>

              <li>
                <a class="magic-hover magic-hover__square" href="#">Portfolio</a>
              </li>

              <li>
                <a class="magic-hover magic-hover__square" href="{% url 'about-me' %}">About Me</a>
              </li>

              <li>
                <a class="magic-hover magic-hover__square" href="{% url 'contact-us' %}">Contact</a>
              </li>

            </ul>
          </nav>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="extras">
          <a
            href="javascript:void(0)"
            class="bar-menu magic-hover magic-hover__square"
            ><i class="fa-solid fa-bars"></i></a>
      
          {% include 'download_button.html' %}
        </div>
      </div>
      
      <div class="menu-wrap">
        <div class="menu-inner ps ps--active-x ps--active-y">
          <span class="menu-cls-btn"
            ><i class="cls-leftright"></i><i class="cls-rightleft"></i
          ></span>
          <div class="contact-info">
            <a class="magic-hover magic-hover__square" href="index.html">
              <img src="{% static 'img/black-logo.png' %}" alt="logo" />
            </a>
            <h5>
              I use animation as a third dimension by which to simplify
              experiences and kuiding thro each and every interaction.
            </h5>

            <div class="e-mail">
              <div class="icon-box"><i class="fa-solid fa-envelope"></i></div>
              <div>
                <h6>Phone No</h6>
                <a
                  class="magic-hover magic-hover__square"
                  href="mailto:username@domain.com"
                  >username@domain.com</a
                >
              </div>
            </div>
            <div class="e-mail">
              <div class="icon-box"><i class="fa-solid fa-phone"></i></div>
              <div>
                <h6>Email Address</h6>
                <a
                  class="magic-hover magic-hover__square"
                  href="callto:+(123)4567890"
                  >+(123) 456 7890</a
                >
              </div>
            </div>
            <div class="e-mail">
              <div class="icon-box">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <div>
                <h6>Location</h6>
                <a
                  class="magic-hover magic-hover__square"
                  href="javascript:void(0)"
                  >Block Street No 2101 USA</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-nav" id="mobile-nav" style="display: block">
    <div class="mobile-nav-img-data">
      <a class="magic-hover magic-hover__square" href="index.html">
        <img alt="logo" src="{% static 'img/black-logo.png' %}" />
      </a>
    </div>
      </li>
    <ul>
      <li>
        <a class="magic-hover magic-hover__square" href="{% url 'home' %}">Home</a>
      </li>

      <li>
        <a class="magic-hover magic-hover__square" href="#">Portfolio</a>
      </li>

      <li>
        <a class="magic-hover magic-hover__square" href="{% url 'about-me' %}">About Me</a>
      </li>

      <li>
        <a class="magic-hover magic-hover__square" href="{% url 'contact-us' %}">Contact</a>
      </li>
    </ul>

    <a
      class="magic-hover magic-hover__square"
      href="JavaScript:void(0)"
      id="res-cross"
    ></a>
  </div>
</header>
