{% load static %}

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'img/logo-icon.png' %}">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<!-- owl carousel -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
  <!-- nice-select -->
  <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css' %}">
  <!-- aos -->
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <!-- magic-mouse -->
  <link rel="stylesheet" href="{% static 'css/magic-mouse.css' %}">
  <!-- simple-line-icons -->
  <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
  <!-- style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- responsive -->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<!-- color -->
  <link rel="stylesheet" href="{% static 'css/color.css' %}">
	<!-- Font Awesome 5 -->
	<script src="https://kit.fontawesome.com/27a041baf1.js" crossorigin="anonymous"></script>