{% load thumbnail %}

{% if work_cases %}
<section class="my-project hom3 two gap no-top">
	<div class="container">
		<div class="hading" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
			<img alt="dots" src="static/img/dots.png">
			<p>Collection of my project</p>
			<h2>Work Showcase</h2>
		</div>
			<div class="row">

                {% for work in work_cases %}
                <div class="col-lg-4 col-md-6" data-aos="fade-up"  data-aos-delay="500" data-aos-duration="600">	
                    <div class="portfolio-detail">
                        <div class="portfolio-img hover06">
                            <figure>
                                {% if work.image %}
                                {% thumbnail work.image "366x261" crop="center" as im %}
                                    <img src="{{ im.url }}" />
                                {% endthumbnail %}
                                {% else %}
                                <img alt="profile img" src="https://via.placeholder.com/366x261">
                                {% endif %}
                            </figure>
                              <a class="magic-hover magic-hover__square" href="{{work.get_absolute_url}}">{{work.title}}</a>
                              <p>{{work.short_description}}</p>
                        </div>
                    </div>
                </div>

                {% endfor %}
                    
			</div>
</section>
{% endif %}


